# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Данные (если хотите исключить сам CSV из репозитория, но вы уже положили его в data/ — можно оставить, он маленький)
# data/*.csv

# Переменные окружения (секреты)
.env